@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: rgb(82, 255, 168);

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

.manrope-800 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.box {
    @apply shadow-[rgba(82,255,168,0)_0px_25px_50px_-12px];
}